<div class="add-remove">
  <div class="large-9 columns">
    <p>Add some elements to my list by clicking the buttons at the right</p>
    <ul>
    </ul>
  </div>
  <div class="large-3 columns">
    <button class="add">Add</button>
    <button class="add-random">Add random</button>
  </div>

</div>

<script id="add-remove-element" type="x-tmpl-mustache">
  <li>{{ content }} <button class="remove tiny">X</button></li>
</script>