<div class="row color-changer">
  <div class="large-8 columns">
    My new container's color is received as an ajax response once the button is clicked.
  </div>
  <div class="large-2 columns">
    <button class="change">Change background color</button>
  </div>
</div>