<div class="color-changer">
  <div class="large-9 columns">
    <p>My new container's color is received as an AJAX response once the button is clicked.</p>
    <div class="text-container"></div>
  </div>
  <div class="large-3 columns">
    <button class="change">Change background color</button>
    <button class="clear">Clear</button>
  </div>
</div>